@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="container text-center">
    <h1>
        Hospital veterinário
    </h1>
    <br />
    <br />
    <h5>
        Aqui você pode se cadastrar, agendar uma consulta e ver alguns produtos que vendemos!
    </h5>
    <br />
    <h5>
        Se você for da equipe, também pode gerenciar os funcionários, produtos, usuários e consultas!
    </h5>
</div>
